#main-container {
    display: flex;
    gap: 20px;
}

#post-list {
    width: 30%;
    background-color: #eee;
    padding: 10px;
}

#post-detail {
    width: 70%;
    background-color: #f9f9f9;
    padding: 10px;
}

#new-post-form {
    margin-top: 20px;
}
